/*
 * Icons lifted from the lovely https://simplesharingbuttons.com and https://shareicon.net
 * then optimised with https://jakearchibald.github.io/svgomg/
 * then converted to inline versions with https://codepen.io/jakob-e/pen/doMoML
 */


ul.ssmb, ul.ssmb li {
    margin: 0 auto;
}

ul.ssmb, ul.ssmb li {
    list-style: none;
    padding: 0;
    border: 0;
}



ul.ssmb li {
    margin: 4px 2px;
    display: inline-block;
    text-align: center;
}

a.ssmb-a {
    white-space: nowrap;
    font-size: 12px;
    text-decoration: none;
    display: inline-block;
    padding: 1px 6px 4px 6px;
    /* min-width: 100px; */
    /* min-width: 8rem; */
    text-align: center;
    color: black;
    background-color: #f6f6f6;
    border-radius: 3px;
    /* overflow: hidden; */
    border: 1px solid #dedede;
}

a.ssmb-a-email,
a.ssmb-a-facebook,
a.ssmb-a-googleplus,
a.ssmb-a-linkedin,
a.ssmb-a-reddit,
a.ssmb-a-twitter,
a.ssmb-a-whatsapp {
    color: white;
}

span.ssmb-icon {
    width: 24px;
    height: 24px;
    display: inline-block;
    text-align: center;
    vertical-align: bottom;
    overflow: hidden;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: center bottom;
    margin: 0 0 -2px 0;
}

span.ssmb-provider {
    padding-left: 4px;
}

a.ssmb-a-email {
    background-color: #6b6b6b;
    border-color: #333;
}

a.ssmb-a-facebook {
    background-color: #3b5998;
    border-color: #336;
}

a.ssmb-a-googleplus {
    background-color: #d0422a;
    border-color: #910;
}

a.ssmb-a-linkedin {
    background-color: #0083be;
    border-color: #036;
}

a.ssmb-a-reddit {
    background-color: #ef4623;
    border-color: #910;
}

a.ssmb-a-twitter {
    background-color: #00abf1;
    border-color: #48b;
}

a.ssmb-a-whatsapp {
    background-color: #65bc54;
    border-color: #360;
}

span.smb-count {
    min-width: 1px;
    display: inline-block;
}

@media screen and (min-width: 768px) {
    ul.ssmb li.ssmb-b-whatsapp {
	display: none;
    }
}


/* For the round versions */

ul.ssmb.round li.ssmb-b,
ul.ssmb.round a.ssmb-a,
ul.ssmb.round span.ssmb-icon {
    border-radius: 50%;
}

ul.ssmb.round a.ssmb-a {
    padding: 4px;
    border: 0;
}


/* To hide text */

ul.ssmb.round span.ssmb-provider,
ul.ssmb.no-text span.ssmb-provider {
    display: none;
}